{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <div class="row">

    <div class="col-md-12">
<h1 class='titrepost'>Vos Articles :</h1>
      {% for post in orderPosts|sort %}
        <div class="row">
  <div class="post">
    <div class="thumbnail">
      <img src="{{ asset('assets/img/articles/') ~ post.imageName }}" alt="image article">
      <div class="caption">
        <h3>{{ post.titre }}</h3>
        <p>{{ post.contenu | length > 200 ? (post.contenu[:200] ~ '...') : post.contenu }}</p>
        <p><a href="{{ path('home_show', {id: post.id}) }}">Voir l'artcile</a></p>
      </div>
    </div>
  </div>
</div>
        {% endfor %}
      </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Les derniers articles</div>
        {% for orderPost in orderPosts %}
        <div class="panel-body"><a href="{{ path("home_show", {id: orderPost.id}) }}">{{ orderPost.titre }} - {{ orderPost.createAt|date('d-m-Y') }}</a></div>
        {% endfor %}
</div>
      
     

</div><!--row-->
  </div><!--container-->

</body>

<script src="https://use.fontawesome.com/5ae75527aa.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</html>
{% endblock %}