{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="alert alert-success">
          <h1>Ajouté avec succès !</h1>
          <a href="{{ path('post_index') }}"> <button type="button"><i class="fa fa-undo" aria-hidden="true"></i> Retour</button></a>

    </div>

    <div class="well col-md-12">
       {{ form_start(delete_form) }}<button type="submit"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>{{ form_end(delete_form) }}
      <a href="{{ path('post_edit', { 'id': post.id }) }}"> <button type="button" name="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</button></a>
      <button type="button" name="button"><i class="fa fa-file" aria-hidden="true"></i> Ajouter aux brouillons</button>
      <h2 class="col-md-12"> {{ post.titre }} </h2>
      <img class="img-responsive col-md-6 col-md-offset-3"src="img/placeholder.png" alt="articles" />
      <p class="col-md-12">{{ post.contenu }}</p>
    </div>

  </div><!--row-->
    </div><!--container-->
{% endblock %}